<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Início - Lynx Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <!-- <link rel="stylesheet" href="/a-algo-2026-1-project/scraping-a-algo-2026-1/interface/static/style.css"> -->
</head>

<body>


<header>
    <h1>Lynx Monitor</h1>
</header>


<div class="container">


    <main>
        <form method="POST">
            <input type="text" name="userName" placeholder="Nome" required>
            <input type="email" name="userEmail" placeholder="E-mail" required>

            <p id="mensagemErro" style="color: red; min-height: 1.2em;"></p>
            
            <button type="submit" id="btnContinuar">

                Continuar
            </button>
        </form>
    </main>
</div>
    
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    

<footer>
    <div class="footer-content">
        <p>&copy; 2026 Minha Empresa. Todos os direitos reservados.</p>
        <nav>
            <ul>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Termos de Uso</a></li>
            </ul>
        </nav>
    </div>
</footer>



</body>
</html>